html, body {
  height: 100%;
}

.bg-login-image2 {
  background: url(src/assets/img/foto01.png);
  background-size: cover;
  background-position: center;
}

input.ng-invalid.ng-touched ~ .invalid-feedback {
  display: block !important;
}